
<footer>
  <div class="footer-body container"> 
    <div class="footer-items"> 
      <div class="footer-item">
        <div class="item-body"> 
          <h3 class="item-header">О нас</h3>
          <ul> 
            <li>История компании</li>
            <li>Карьера</li>
            <li>Особенности</li>
            <li>Пресса</li>
          </ul>
        </div>
      </div>
      <div class="footer-item">
        <div class="item-body"> 
          <h3 class="item-header">Поддержка</h3>
          <ul> 
            <li>База знаний</li>
            <li>Тарифы</li>
            <li>Мобильное приложение</li>
            <li>Условия пользования</li>
          </ul>
        </div>
      </div>
      <div class="footer-item">
        <div class="item-body"> 
          <h3 class="item-header">Контакты</h3>
          <ul>
            <li>hello@music.box</li>
            <li>Russia, Moscow Music Box studio</li>
            <li>+ 7 454 999 99 99</li>
          </ul>
        </div>
      </div>
      <div class="footer-item flex-row"> 
        <div class="item-body"> 
          <h3 class="item-header">Подписывайтесь</h3>
          <ul> 
            <li> <img src="../images/Google+.png" alt="google"/></li>
            <li> <img src="../images/Twitter.png" alt="twitter"/></li>
            <li> <img src="../images/Facebook.png" alt="facebook"/></li>
            <li> <img src="../images/Instagram.png" alt="instagram"/></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <hr/>
  <ul class="footer-footer container"> 
    <li>Магазин</li>
    <li>Обслуживание</li>
    <li>Блог</li>
    <li>Поддержка</li>
    <li>Контакты</li>
  </ul>
</footer>