$orange: #f78202;
$black: #08020d;
$white-smoke: #e0e0e0;
$white-dark-smoke: #cacaca;
$dark: #3c383d;
$green: #34c170;
$purple: #5328a1;
$brown: #95390c;

@mixin text-transform-bold() {
    text-transform: uppercase;
    font-weight: bold;
}

* {
    box-sizing: border-box;
};

body {
    font-family: 'Roboto';
    line-height: 1.5;
    color: #fff;
    background-color: $black;
    margin: 0;
};

h1, h2 {
    @include text-transform-bold();
}

h1 {
    font-size: 60px;
    line-height: 90px;
};

h2 {
    font-size: 38px;
    line-height: 57px;
}

@media (max-width: 414px) {
    h1 {
        font-size: 30px;
        line-height: 45px;
    };

    h2 {
        font-size: 18px;
        line-height: 27px;
    };
}